@import url('https://fonts.cdnfonts.com/css/vcr-osd-mono');

.window {
    animation: fade 0.25s ease;
}

@keyframes fade {
    from { 
        opacity: 0; 
        transform: scale(0.97); 
    }
    to { 
        opacity: 1; 
        transform: scale(1); 
    }
}

body{
    background:#000;
    font-family:'VCR OSD Mono',monospace;
    color:#fff;
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.window{
    width:90%;
    max-width:500px;
    background:#000;
    border:2px solid #fff;
    box-shadow:4px 4px 0 #fff;
    position:relative;
}

.title-bar{
    background:#222;
    padding:5px;
    border-bottom:2px solid #fff;
    text-align:center;
    font-weight:700;
    font-size:18px;
}

.content{
    padding:14px;
    font-size:14px;
}

.ascii{
    font-size:12px;
    white-space:pre;
}

a{
    color:#999;
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}

.close-btn{
    font-size:19px;
    cursor:pointer;
    width:20px;
    height:20px;
    border:2px solid #fff;
    border-radius:4px;
    position:absolute;
    top:5px;
    right:5px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.close-btn:hover{
    background:red;
    color:#fff;
    transition:0.1s;
}

.footer-text{
    position:fixed;
    bottom:10px;
    left:10px;
    font-size:11px;
    color:#777;
}
