@import url('https://fonts.cdnfonts.com/css/vcr-osd-mono');

body {
    background: black;
    font-family: 'VCR OSD Mono', monospace;
    color: white;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.window {
    width: 90%;
    max-width: 500px;
    background: black;
    border: 2px solid white;
    box-shadow: 5px 5px 0 white;
}

.title-bar {
    background: #222;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid white;
}

.content {
    padding: 20px;
}

.ascii {
    font-size: 14px;
    white-space: pre;
}

a {
    color: cyan;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .window {
        width: 95%;
    }

    .content {
        padding: 15px;
    }

    .title-bar {
        font-size: 18px;
    }

    a {
        font-size: 14px; 
    }
}

@media (min-width: 769px) {
    body {
        font-size: 16px;
    }

    .window {
        width: 500px;
    }

    .content {
        padding: 20px;
    }

    .title-bar {
        font-size: 20px;
    }

    a {
        font-size: 16px; 
    }
}
